pip
setuptools>=18.5
cython
numpy
pyyaml
simplejson
pysam
pybedtools
nose
natsort
pandas
jinja2                  # for reporting
beautifulsoup4          # for reporting
lxml                    # for reporting
# joblib                  # for parallelization
# ipython-cluster-helper  # for parallelization
