pip
setuptools
click
versionpy
# cython
# numpy
# pyyaml
# pysam
# pybedtools
# natsort
# pandas
# jinja2                  # for reporting
# beautifulsoup4          # for html2base64
# lxml                    # for html2base64
# joblib                  # for parallelization
# ipython-cluster-helper  # for parallelization
