hg19/bad_promoter.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/bad_promoter.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/ga4gh_tricky_regions.zip filter=lfs diff=lfs merge=lfs -text
hg19/gc0to15.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc0to15.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc15to20.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc15to20.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc20to25.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc20to25.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc25to30.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc25to30.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc65to70.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc65to70.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc70to75.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc70to75.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc75to80.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc75to80.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc80to85.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc80to85.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/gc85to100.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/gc85to100.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/heng_universal_mask.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/heng_universal_mask.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/low_complexity_51to200bp.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/low_complexity_51to200bp.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/low_complexity_gt200bp.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/low_complexity_gt200bp.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/low_complexity_lt51bp.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/low_complexity_lt51bp.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/repeats.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/repeats.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg19/self_chain.bed.gz filter=lfs diff=lfs merge=lfs -text
hg19/self_chain.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/bad_promoter.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/bad_promoter.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc0to15.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc0to15.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc15to20.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc15to20.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc20to25.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc20to25.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc25to30.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc25to30.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc65to70.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc65to70.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc70to75.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc70to75.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc75to80.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc75to80.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc80to85.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc80to85.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/gc85to100.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/gc85to100.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/heng_universal_mask.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/heng_universal_mask.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/low_complexity_51to200bp.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/low_complexity_51to200bp.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/low_complexity_gt200bp.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/low_complexity_gt200bp.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/low_complexity_lt51bp.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/low_complexity_lt51bp.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/repeats.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/repeats.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
hg38/self_chain.bed.gz filter=lfs diff=lfs merge=lfs -text
hg38/self_chain.bed.gz.tbi filter=lfs diff=lfs merge=lfs -text
